.subtotal {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: min-content;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.subtotal__gift {
    display: flex;
    align-items: center;
}
.subtotal__gift > input {
    margin-right: 5px;
    cursor: pointer;
}
.subtotal__gift > label {
    cursor: pointer;
}

.subtotal > button {
    background-color: var(--orange);
    border-radius: 2px;
    padding: 8px;
    width: 100%;
    /* height: 30px; */
    border: 1px solid;
    border-color: var(--borderColor);
    margin-top: 10px;
    color: #111;
    cursor: pointer;

}